name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  library:
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode:
          - 11.7
          - 12.0
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run tests
        run: make test

  swiftpm-linux:
    name: SwiftPM Linux
    runs-on: ubuntu-18.04
    steps:
      - name: Install Swift
        run: |
          eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
      - name: Checkout
        uses: actions/checkout@v2
      - name: Recover cached dependencies
        uses: actions/cache@v1
        id: dependency-cache
        with:
          path: .build
          key: swiftpm-linux-${{ hashFiles('Package.resolved') }}
      - name: Pull dependencies
        if: steps.dependency-cache.outputs.cache-hit != 'true'
        run: |
          swift package resolve
      - name: Test via SwiftPM
        run: |
          swift --version
          swift build --target ComposableArchitecture
          swift test --enable-test-discovery